/* Basic reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
}


header {
    text-align: center;
    margin-bottom: 20px;
}

#photo-section {
    text-align: center;
    margin-bottom: 20px;
}

input[type="date"] {
    padding: 5px;
    font-size: 16px;
    margin-right: 10px;
}

button {
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
}

#photo-gallery {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

#photo-gallery img {
    max-width: 300px;
    max-height: 200px;
    border-radius: 10px;
}

img {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
